html {
  box-sizing: border-box;
  background:#efefef;
  font-family: 'Montserrat', 'helvetica neue';
  font-size: 20px;
  font-weight: 200;
}
body {
  margin: 0;
}

header {
  color: white;
  text-shadow: 3px 4px 0 rgba(0,0,0,0.2);
  text-align: center;
  height:50vh;
  background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1) ),url(img/big_sky.jpg) bottom center no-repeat;
  background-size:cover;
  align-items:center;
  justify-content: center;
}

h2.welcome{
  font-family: 'Dancing Script', cursive;
  margin-top: 0;
}

h1 {
  font-size: 3em;
}

nav {
  background:black;
  top:0;
  width: 100%;
  transition:all 0.5s;
  position: relative;
  z-index: 1;
}

nav a:hover {
  color: #CAEBF2;
}

.fixed-nav nav {
  position: fixed;
  box-shadow: 0 5px rgba(0,0,0,0.1);
}

nav ul {
  margin: 0;
  padding:0;
  list-style: none;
  display:flex;
}

nav li {
  flex:1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

li.logo {
  max-width:0;
  overflow: hidden;
  background: white;
  transition: all 0.5s;
  font-weight: 600;
  font-size: 30px;
}

li.logo a {
  color:black;
  padding: 0;
}

.fixed-nav li.logo {
  max-width:140px;
}

a {
  text-decoration: none;
  display: inline-block;
}

nav a {
  padding:20px;
  color:white;
  transition:all 0.3s;
  text-transform: uppercase;
}

h2.section-title {
  font-size: 2em;
  color: #999;
  text-align: center;
  padding: 40px;
  margin: 0;
}

.white {
  background-color: white;
}

.section {
  width: 100%;
}

.content-wrap {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  padding:20px;
}

.description {
  flex: 3;
}

.image {
  flex: 1;
}

.image img {
  width: 80%;
  border: 2px solid #eee;
  border-radius: 10px;
  margin: 10px auto;
}

p, h3, h4 {
  margin: 10px auto;
}

a.work, a.work:visited {
  color: #999;
  margin-top: 10px;
  margin-right: 40px;
  font-size: 22px;
}

a.work:hover {
  filter: brightness(50%);
}

a.demo, a.demo:visited {
  color: #FF3B3F;
}

h4 {
  font-size: 16px;
}

h4.position {
  color: #FF3B3F;
}

ul.bullet-points li {
  margin-bottom: 5px;
}

footer {
  background-color: white;
  color: #999;
  font-size: 14px;
  text-align: center;
  padding: 40px;
}
